
<% if @questions.any? %>

  <ul class="list-unstyled">

    <% @questions.each do |question| %>

      <li>
      </i> <%= link_to question_path(question) do %><%= question.description %><% end %>
      </li>

    <% end %>

  </ul>
<% end %>

<p><%= link_to "Add a new question", new_question_path %></p>
